<app-menu></app-menu>
<div class="flex justify-end mt-4 mr-2">
  <button (click)="onApproveRewardPointsClick()" class="bg-blue-500 text-white px-3 py-2 rounded">Approve Reward Points</button>
  </div>
<div class="mt-8" *ngIf="products.length === 0">
  <h2 class="text-2xl text-center font-semibold mb-4">No Products Found</h2>
</div>
<div class="mt-4 text-center">
  <button class="bg-blue-500 text-white font-semibold py-2 px-4 rounded shadow"(click)="showAddProductForm = !showAddProductForm">
    + Add New Product
  </button>
</div>
<div *ngIf="showAddProductForm">
  <app-add-product-form (productAdded) = "hideAddProductForm()"></app-add-product-form>
</div>
<div class="mt-8" *ngIf="products.length > 0">
    
    <h2 class="text-2xl text-center font-semibold mb-4">Products </h2>
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="border px-4 py-2">Name</th>
          <th class="border px-4 py-2">Description</th>
          <th class="border px-4 py-2">Price in INR</th>
          <th class="border px-4 py-2">Price in Tokens</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let product of products">
          <td class="border px-4 py-2">{{ product.ProductName }}</td>
          <td class="border px-4 py-2">{{ product.ProductDescription }}</td>
          <td class="border px-4 py-2">{{ product.ProductPrice }}</td>
          <td class="border px-4 py-2">{{ product.Tokens }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
  