
<div class="prose max-w-full">
    <p class="text-2xl font-bold mb-4">Welcome to the FlipDrip Loyalty Program! 🌟</p>
    
    <p>Congratulations on joining the FlipDrip Loyalty Program by Flipkart. Get ready to embark on a rewarding journey as a valued member of our community. 🎉</p>
    
    <div class="mt-4">
        <p class="text-lg font-semibold">🎁 Benefits of FlipDrip:</p>
        <ul class="list-disc ml-6">
            <li>Earn loyalty points for every purchase you make.</li>
            <li>Gain early access to special sales and promotions.</li>
            <li>Participate in exciting contests and giveaways.</li>
            <li>Access personalized recommendations based on your preferences.</li>
        </ul>
    </div>
    
    <div class="mt-4">
        <p class="text-lg font-semibold">🚀 How it Works:</p>
        <ol class="list-decimal ml-6">
            <li>Shop as usual on Flipkart.</li>
            <li>Earn loyalty points with every purchase.</li>
            <li>Redeem your points for amazing rewards.</li>
        </ol>
    </div>
    
    <div class="mt-4">
        <p class="text-lg font-semibold">🎉 Your First Step:<br>
        <ul class="list-disc ml-6">
            <li>By registering for FlipDrip, you've already taken the first step towards unlocking a world of benefits. Start shopping and earning rewards today!</li>
        </ul>    
    </div>
    
    <div class="mt-4">
        <p class="text-lg font-semibold">🛠️ Prerequisites:</p>
        <ul class="list-disc ml-6">
            <li>Before joining the programme, you must set up a metamask wallet and enable the metamask extension in your browser (<a href="https://metamask.io/download/" class="text-blue-500 underline">https://metamask.io/download/</a>)</li>
            <li>Your wallet address is your unique address that will be used for all FlipDrip transactions</li>
            <li>In case you have an existing wallet, ensure you are signed in to your wallet from your metamask browser extension</li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="text-lg font-semibold">🔒 Your Privacy:</p>
        <ul class="list-disc ml-6">
            <li>Rest assured that your privacy and data security are our top priorities. Your personal information will be handled in accordance with our privacy policy.</li>
        </ul>    
    </div>
    
    <div class="mt-4">
        <p class="text-lg font-semibold">📣 Stay Tuned:<p>
        <ul class="list-disc ml-6">
            <li>Keep an eye on your email and notifications for updates, special offers, and exciting announcements related to the FlipDrip Loyalty Program.</li>
        </ul>    
    </div>
    
    <p class="mt-4">Thank you for choosing Flipkart. We're excited to have you as part of the FlipDrip community!</p>
    
    <p class="mt-4">Happy Shopping! 🛍️</p>
    
    <p class="mt-4 font-semibold">Best regards,<br>
    The Flipkart Team</p>
</div>