<div class="flex bg-gradient-to-t from-yellow-400 to-yellow-300 min-h-screen flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h1 class="mt-4 text-center text-5xl font-bold leading-9 tracking-tight text-blue-500 italic">flipdrip.</h1>
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
  
    <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" [formGroup]="loginForm">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email Address</label>
          <div class="mt-2">
            <input id="email" required formControlName="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-800 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            
          </div>
          <div class="mt-2">
            <input id="password" required formControlName="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-800 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div *ngIf="!walletAddress" class="text-red-700 rounded" role="alert">
          <div>
            <button type="submit" (click)="connectWallet()" class="flex w-full justify-center rounded-md bg-gray-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-800">Connect Wallet</button>
          </div>
        </div>
        <div *ngIf="walletAddress" class="text-green-700 rounded" role="alert">
          <p class="font-bold">Wallet Address : {{walletAddress}}</p>
          <div class="mt-4">
            <button type="submit" (click)="connectWallet()" class="flex w-full justify-center rounded-md bg-gray-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-800">Refresh Wallet Address</button>
          </div>
        </div>
        <div>
          <button type="submit" [disabled]="loginForm.invalid || !walletAddress" (click)="login()" class="flex w-full justify-center rounded-md bg-gray-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-800">Sign in</button>
        </div>
      </form>
      <p class="mt-4 text-center text-sm text-gray-600">
        Don't have an account? 
      </p>
      
      <p class="mt-4 text-center text-sm font-bold text-gray-600">
        <a class="text-blue-500 cursor-pointer mr-2" (click)="register('buyer')">Register as Buyer</a>
        <a class="text-blue-500 cursor-pointer" (click)="register('seller')">Register as Seller</a>
      </p>
      
    </div>
  </div>