<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-white text-lg font-semibold">Flipdrip</h1>
      <span class="text-white text-lg font-semibold">Wallet Address : {{currentUser?.WalletAddress}}</span>
      <span class="text-white text-lg font-semibold">Balance : {{balance}} FD</span>
      <div class="flex items-center">
        <button type="button" class="text-white hover:bg-gray-700 px-4 py-2 rounded focus:outline-none" (click)="goToHome(currentUser?.Role)">
          Home
          </button>
        <div class="relative inline-block text-left" (click)="toggleDropdown()">
          <button type="button" class="text-white hover:bg-gray-700 px-4 py-2 rounded focus:outline-none">
          {{currentUser?.UserName}}
          </button>
          <div *ngIf="isDropdownOpen" class="origin-top-right absolute right-0 mt-2 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
  
              <button class="block px-4 py-2 text-sm text-center text-gray-700 hover:bg-gray-100" role="menuitem" (click)="showTransactionHistory()">Wallet</button>
              <button class="block px-4 py-2 text-sm text-center text-gray-700 hover:bg-gray-100" role="menuitem" (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
