<div class="prose max-w-full">
    <p class="text-2xl font-bold mb-4">FlipDrip Seller Loyalty Program Rules 🛒</p>

    <div class="mt-4">
        <p class="font-semibold">Prerequisites 🛠️:</p>
        <ul class="list-disc ml-6">
            <li>Before joining the programme, you must set up a metamask wallet and enable the metamask extension in your browser (<a href="https://metamask.io/download/" class="text-blue-500 underline">https://metamask.io/download/</a>)</li>
            <li>Your wallet address is your unique address that will be used for all FlipDrip transactions</li>
            <li>In case you have an existing wallet, ensure you are signed in to your wallet from your metamask browser extension</li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="font-semibold">Eligibility 🎯:</p>
        <ul class="list-disc ml-6">
            <li>Only registered sellers on Flipkart are eligible to participate in the FlipDrip loyalty program.</li>
            <li>Sellers must comply with Flipkart's terms of service and community guidelines.</li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="font-semibold">Token Allocation 🎁:</p>
        <ul class="list-disc ml-6">
            <li>Upon registration, sellers will receive an initial allocation of 1,000 "FlipDrips" (FDs) as a welcome bonus.</li>
            <li>Additional FDT can be earned through various program activities.</li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="font-semibold">Earning FDT 🏆:</p>
        <ul class="list-disc ml-6">
            <li>Sellers can earn FDTs from Flipkart:</li>
            <li>Customers who have accumulated sufficient FDs can purchase your product using FDs. In that case, FDs will be directly credited from the customer's wallet to your wallet.</li>
            <li>Successful product listings and sales. 1 FD per 10 products listed. 2 FD per 10 products sold.</li>
            <li>Achieving high customer ratings and reviews. 0.25 FDs per 50 customer ratings. 0.5 FDs per 50 customer reviews.</li>
            <li>Meeting specific sales milestones. 50 FDs per 500 products sold.</li>
            <li>Referring other sellers to join FlipDrip. 10 FDs per referral.</li>
            <li>Participating in special promotions or campaigns. Amount of FDs that can be earned will be notified during campaign registration.</li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="font-semibold">FD Request and Fee 💰:</p>
        <ul class="list-disc ml-6">
            <li>If you ever run out of FDs, you can request for FDs through the FlipDrip portal. You will be charged a fee of INR 5,000 for 100 FDs. You can only request for FDs if you have exhausted your current FD balance.</li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="font-semibold">FDT Utility 🛒:</p>
        <ul class="list-disc ml-6">
            <li>FDT can be used within the FlipDrip ecosystem for redeeming - purchasing products after accumulating sufficient FDs.</li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="font-semibold">Governance 🗳️:</p>
        <ul class="list-disc ml-6">
            <li>Sellers may have a say in program governance through voting mechanisms, helping to shape the future of FlipDrip.</li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="font-semibold">Compliance 📜:</p>
        <ul class="list-disc ml-6">
            <li>Sellers must adhere to any tax or legal requirements related to owning and using FDT within their respective jurisdictions.</li>
        </ul>
    </div>

    <div class="mt-4">
        <p class="font-semibold">Updates 📢:</p>
        <ul class="list-disc ml-6">
            <li>Flipkart reserves the right to update or modify the FlipDrip program rules and tokenomics with prior notice to participating sellers.</li>
        </ul>
    </div>

    <div class="mt-4">
        <p>By adhering to these rules and tokenomics, Flipkart's FlipDrip loyalty program aims to incentivize and reward sellers for their contributions to the platform while promoting transparency, fairness, and engagement within the ecosystem.</p>
    </div>
</div>