<app-menu></app-menu>
<div class="bg-yellow-300 text-right font-semibold text-xl pr-4 pt-2">
  <span>Balance : {{balance}} FD</span>
</div>
<div class="bg-gradient-to-t from-yellow-400 to-yellow-300 min-h-screen text-center justify-center">
  <div class="p-6" *ngIf="transactions?.length == 0">
    <h2 class="text-2xl font-semibold mb-4 text-center">No Transactions found</h2>
</div>
<div class="p-6 overflow-x-auto text-center" *ngIf="transactions?.length > 0">
    <h2 class="text-2xl font-semibold mb-4 text-center">Transaction History</h2>
    <table class="min-w-full border divide-y divide-gray-200" >
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="border px-6 py-3">From</th>
          <th class="border px-6 py-3">To</th>
          <th class="border px-6 py-3">Value (FD)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td class="border px-6 py-3">{{ transaction.FromName }}</td>
          <td class="border px-6 py-3">{{ transaction.ToName }}</td>
          <td class="border px-6 py-3">{{ transaction.Coins}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
