<app-menu></app-menu>
<div class="p-6" *ngIf="records.length == 0">
  <h2 class="text-2xl font-semibold mb-4">No Pending Approvals</h2>
</div>
<div class="p-6" *ngIf="records.length > 0">
    <h2 class="text-2xl font-semibold mb-4">Pending Approvals</h2>
    <table class="min-w-full border bg-white">
      <thead>
        <tr>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Name</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records" class="hover:bg-gray-100">
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">{{ record.UserName }}</td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="doTransaction(record)">
                Approve
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  