<!-- registration-form.component.html -->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h1 class="mt-10 text-center text-5xl font-bold leading-9 tracking-tight text-gray-900">Flipdrip</h1>
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Register your account</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6">
        <div class="mb-2">
          <label for="username" class="block font-medium mb-1">Username</label>
          <input type="text" id="username" class="w-full p-2 border rounded-md">
        </div>
        <div class="mb-2">
          <label for="email" class="block font-medium mb-1">Email</label>
          <input type="email" id="email" class="w-full p-2 border rounded-md">
        </div>
        <div class="mb-2">
          <label for="password" class="block font-medium mb-1">Password</label>
          <input type="password" id="password" class="w-full p-2 border rounded-md">
        </div>
        <div class="mb-2">
          <label class="inline-flex items-center">
            <input type="checkbox" class="mr-2">
            <span class="text-sm">I agree to the <a class="text-blue-500">Terms and Conditions</a></span>
          </label>
        </div>
        <button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600">
          Register
        </button>
      </form>
      <p class="mt-4 text-center text-sm text-gray-600">
        Already have an account? <a class="text-blue-500 cursor-pointer" (click)="login()">Login</a>
      </p>
    </div>
  </div>
  